<p id="notice"><%= notice %></p>
<div class="container">

      <h4><i class="fas fa-angle-right"></i> <%=@program.name%></h4>
      <hr id="hr">

      <table class="table">
        <tbody>
          <tr>
            <th scope="row">프로그램 명</th>
            <td><%= @program.name %></td>
          </tr>
          <tr>
            <th scope="row">시작날짜</th>
            <td><%= @program.startDay %></td>
          </tr>
          <tr>
            <th scope="row">종강날짜</th>
            <td><%= @program.endDay %></td>
          </tr>
          <tr>
            <th scope="row">진행요일</th>
            <td><%= @program.doingDay %></td>
          </tr>
          <tr>
            <th scope="row">진행시간</th>
            <td><%= @program.doingDay %></td>
          </tr>
          <tr>
            <th scope="row">정원</th>
            <td><%= @program.dutyPeople %></td>
          </tr>
          <tr>
            <th scope="row">수강료</th>
            <td><%= @program.fee %></td>
          </tr>
          <tr>
            <th scope="row">강의실</th>
            <td><%= @program.place %></td>
          </tr>
        </tbody>
      </table>

        <!-- <table class="table">
          <thead>
            <tr>
              <th>프로그램 명</th>
              <th>시작날짜</th>
              <th>종강날짜</th>
              <th>진행요일</th>
              <th>진행시간</th>
              <th>정원</th>
              <th>수강료</th>
              <th>강의실</th>
            <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @program.name %></td>
                <td><%= @program.startDay %></td>
                <td><%= @program.endDay %></td>
                <td><%= @program.doingDay %></td>
                <td><%= @program.doingTime %></td>
                <td><%= @program.dutyPeople %></td>
                <td><%= @program.fee %></td>
                <td><%= @program.place %></td>
              </tr>
          </tbody>
        </table> -->
      <h4><i class="fas fa-angle-right"></i> 등록 회원 정보</h4>
      <hr id="hr">

        <div class="layout">
          <% @list.each do |each_custom| %>
          <% Customer.where(:id => each_custom.customer_id).each do |custom| %>
          <div class="card">
            <img class="card-img-top" id="temp" src="\assets\facerecognition.PNG" alt="Card image cap">
            <div class="card-block ">
                <h4 class="card-title"><%= custom.custom_name %></h4>
                <p class="card-text">
                    <%= custom.phone %>
                    <%= custom.etc %>
                </p>
            </div>
          </div>

          <% end %>
          <% end %>
        </div>

    <%= link_to '수정', edit_program_path(@program), class:"btn btn-success" %>
    <%= link_to '뒤로', programs_path, class:"btn btn-success" %>

</div>
