
<p id="notice"><%= notice %></p>

<div class="container">
  <h4>id</h4>
  <p>
  </p>
      <hr id="hr">


<table class="table">
  <thead>
    <tr>
      <th>번호</th>
      <th>이미지</th>
      <th>보기</th>
      <th>수정</th>
      <th>삭제</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ids.each do |id| %>
      <tr>
        <td><%= id.id %></td>
        <td><%= id.image %></td>
        <td><%= link_to '보기', id %></td>
        <td><%= link_to '수정', edit_id_path(id) %></td>
        <td><%= link_to '삭제', id, method: :delete, data: { confirm: '정말로 프로그램을 삭제하시겠습니까?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '새로운 아이디 작성', new_id_path %>
