<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :product_image %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>




  <%= form_for(@product) do |f| %>
  <div id="my_camera" style="width:320px; height:240px;"></div>

  <input type=button value="사진촬영" onClick="take_snapshot()">
  <script language="JavaScript">
  function take_snapshot(){
      Webcam.snap(function(data_uri) {
          id = $('[id*="_image"]');

          if (id.length) {
              id.val(data_uri);
          }

          document.getElementById('my_result').innerHTML = '<img src="' + data_uri + '"/>';
      });
  }
  $(document).ready(function() {
      if ($("#my_camera").length) {
          Webcam.set({
              width: 320,
              height: 240,
              image_format: 'jpeg',
              jpeg_quality: 90
          });

          Webcam.attach('#my_camera');
      }
  });

  </script>

  <div class="field">
    <%= f.hidden_field :image %>
    <%= f.label :image %>: <br />
    <div id="my_result"> 캡쳐한 화면이 이곳에 나타납니다.</div>
  </div>

  <% end %>

<% end %>
