<!DOCTYPE html>
<html>
  <head>
    <title>GlobalDev</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

<!-- bootstrap -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>

<!-- slick -->

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!-- <script src="webcam.js"></script> -->
    <style>
    li {
      list-style :none
    }
    </style>
  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">KHUzy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">메인 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/notices">공지사항 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/programs">프로그램 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/customers">복지관회원 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/ids">출석체크 <span class="sr-only">(current)</span></a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="검색" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
    </form>
    &nbsp
    <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.name %> 님
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/mypage/index/<%= current_user.id%>">마이페이지</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/users/sign_out" data-method="delete">로그아웃</a>
      </div>
    </li>
    <% else %>
      <li><%= link_to '로그인',new_user_session_path %></li>&nbsp|&nbsp
      <li><%= link_to '회원가입',new_user_registration_path %></li>
    <%end%>
  </div>
</nav>

    <%= yield %>

    <div class="footer">
      <div class="dropdown-divider"></div>
      <div class ="container">
      <div class="row">
    		<div class="col-md-9 col-sm-12">
    			<div class="address">
    				<p><strong>주소</strong> : 04506서울특별시 중구 서소문로 6길 16(중림동)
              <span>/</span>  <strong>전화</strong> : 02-362-3345~51
              <span>/</span>  <strong>팩스</strong> : 02-362-3352
              <span>/</span>  <strong>이메일</strong> : <a href="mailto:jlcwc@hanmail.net" style="transition: all 0.1s linear;">jlcwc@hanmail.net</a></p>
    				<p>Copyright © KHUzy All right reserved.
    			</div>
    		</div>

    		<!-- 검색 -->
    		<div class="col-md-3 col-sm-12" id="link">
          <div class="btn-group dropup">
            <button type="button" class="btn btn-secondary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              주요사이트
            </button>

            <div class="dropdown-menu" >
              <a class="dropdown-item" href="http://www.jongno.go.kr">종로구청</a>
              <a class="dropdown-item" href="http://www.kaswcs.or.kr">한국노인종합복지관협회</a>
              <a class="dropdown-item" href="http://www.saswc.or.kr">서울시노인종합복지관협회</a>
              <a class="dropdown-item" href="http://www.welfare.seoul.kr">서울복지재단</a>
              <a class="dropdown-item" href="http://www.mohw.go.kr">보건복지부</a>
              <a class="dropdown-item" href="http://www.buddhism.or.kr">대한불교 조계사</a>
              <a class="dropdown-item" href="http://www.jabinanum.or.kr">사회복지법인 대한불교조계종사회복지재단</a>
              <a class="dropdown-item" href="http://www.seoul.go.kr">서울시</a>
            </div>
          </div>
    		</div>
      </div>
      </div>
    </div>
  </body>

</html>
